*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main: hsl(42, 100%, 95%);
	--yellow: hsl(41, 95%, 75%);
	--light-yellow: hsl(41, 95%, 95%);
	--red: hsl(0, 75%, 60%);
	--pink: hsl(0, 100%, 80%);
	--bg: hsl(340, 7%, 17%);
	--accent: var(--red);
	font-size: clamp(16px, 2vw, 28px);
}

@media only screen and (max-width: 400px) {
	:root {
		font-size: 12px;
	}
}

body {
	margin: 0;
	font-family: "Work Sans", sans-serif;
	line-height: 1.5;
	background-color: var(--bg);
	color: var(--main);
	overflow: overlay;
	scroll-behavior: smooth;
	text-transform: lowercase;
}

@media (hover: hover) {
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: none;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--main);
		border-radius: 0;
	}

	::-webkit-scrollbar-button {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: "Abril Fatface";
	// text-transform: uppercase;
	line-height: normal;
	margin: 0;
}

h1 {
	font-size: 2.1rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.15rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.9rem;
}

a {
	text-decoration: underline;
	color: var(--accent);
}

// .shadow-auto {
// box-shadow: 0.4rem 0.4rem var(--accent);
// }

// .shadow-dark {
// box-shadow: 0.4rem 0.4rem var(--bg);
// }

// .shadow-main {
// box-shadow: 0.4rem 0.4rem var(--main);
// }

// .shadow-red {
// box-shadow: 0.4rem 0.4rem var(--red);
// }

// .bg-red {
// background-color: var(--red);
// }

// .pink {
// color: var(--light-red);
// }

// button

// .nice-button {
// 	text-decoration: none;
// 	color: inherit;
// 	font-family: "Unica One";
// 	position: relative;
// 	display: block;
// 	width: fit-content;
// 	padding: 1rem;
// 	&:before {
// 		content: "";
// 		position: absolute;
// 		top: 0.75em;
// 		left: 0;
// 		display: block;
// 		border-radius: 1rem;
// 		background: var(--accent);
// 		opacity: 0.75;
// 		width: 2rem;
// 		height: 2rem;
// 		transition: width 0.3s ease, opacity 0.3s ease;
// 	}
// 	span {
// 		position: relative;
// 		font-size: 1rem;
// 		font-weight: 900;
// 		letter-spacing: 0.25em;
// 		text-transform: uppercase;
// 		vertical-align: middle;
// 	}
// 	svg {
// 		position: relative;
// 		top: -0.15rem;
// 		margin-left: 0.5rem;
// 		fill: none;
// 		stroke-linecap: round;
// 		stroke-linejoin: round;
// 		stroke: var(--main);
// 		stroke-width: 2;
// 		transform: translateX(-0.4rem);
// 		transition: transform 0.3s ease;
// 	}
// 	&.svg-dark svg {
// 		stroke: var(--bg);
// 	}
// 	&:hover {
// 		&:before {
// 			width: 100%;
// 			opacity: 1;
// 		}
// 		svg {
// 			transform: translateX(0);
// 		}
// 		&:active {
// 			transform: scale(0.96);
// 		}
// 	}
// }

// hide small

// @media only screen and (max-width: 1450px) {
// 	.hide-small {
// 		display: none;
// 	}
// }

// footer section

section#footer {
	// font-family: "Unica One";
	// text-transform: uppercase;
	background-color: var(--accent);
	color: var(--main);
	padding: 1rem 2rem;
	min-height: 0;
	text-align: center;
	position: relative;
	a {
		color: var(--main);
		// text-decoration: none;
		&:hover {
			color: var(--pink);
			// text-decoration: underline;
		}
	}
	.copyright {
		font-size: 0.75rem;
	}
	::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
}
