*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--main: hsl(42, 100%, 95%);

	--yellow: hsl(50, 95%, 75%);
	--light-yellow: hsl(50, 95%, 85%);
	--red: hsl(0, 75%, 60%);
	--pink: hsl(0, 100%, 80%);
	--bg: hsl(340, 7%, 17%);

	--accent: var(--red);
	--accent-light: var(--pink);
	--accent-2: var(--yellow);
	--accent-2-light: var(--light-yellow);

	font-size: clamp(16px, 2vw, 28px);
}

@media only screen and (max-width: 400px) {
	:root {
		font-size: 12px;
	}
}

body {
	margin: 0;
	font-family: "Work Sans", sans-serif;
	line-height: 1.5;
	background-color: var(--bg);
	color: var(--main);
	overflow: overlay;
	scroll-behavior: smooth;
	text-transform: lowercase;
}

@media (hover: hover) {
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: none;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--main);
		border-radius: 0;
	}

	::-webkit-scrollbar-button {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: normal;
	margin: 0;
}

h1 {
	font-size: 2.1rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.15rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.9rem;
}

a[href] {
	text-decoration: underline;
	color: var(--accent);
}

.accent-2 {
	color: var(--accent-2);
}

// header section

section#header {
	background-color: var(--accent);
	color: var(--main);
	padding: 0.5rem 1rem;
	// position: relative;
	font-family: "Righteous", sans-serif;
	font-size: 2em;
}

// body section

section#body {
	padding: 1.5rem 1rem;
}

// footer section

section#footer {
	background-color: var(--accent);
	color: var(--main);
	padding: 1rem 2rem;
	min-height: 0;
	text-align: center;
	position: relative;
	a {
		color: var(--main);
		&:hover {
			color: var(--accent-light);
		}
	}
	.copyright {
		font-size: 0.75rem;
	}
}
