// imports

@import "base";

.timetable-container {
	border: 0.1rem solid var(--main);
	display: inline-block;
}

#timetable-wrapper {
	--bg: #fff;
	padding: 0.5rem;
	background-color: var(--bg);
}

#timetable {
	background-color: var(--bg);
	border: 0.1rem solid var(--main);
	margin: 1rem;
	aspect-ratio: 1.414 / 1;
	height: 32rem;
	display: flex;
	flex-direction: column;

	> div.row-times {
		min-height: 1.2rem;
		max-height: 1.2rem;
		display: flex;

		.day {
			border-right: 0.1rem solid var(--main);
			width: 2rem;
			background-color: var(--accent);
			color: var(--light);
			font-family: "Righteous", sans-serif;
			font-size: 0.65rem;
			display: grid;
			place-items: center;
		}

		.times {
			font-size: 0.5rem;
			font-weight: bold;
			flex: 1;
			display: flex;

			> div {
				flex: 1;
				border-left: 0.1rem dashed var(--main);
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 0.25rem;

				&:first-of-type {
					border-left: none;
				}
			}
		}
	}

	> div {
		flex: 1;
	}

	> div.row {
		border-top: 0.1rem solid var(--main);
		display: flex;

		> div {
			flex: 1;
		}

		.day {
			font-weight: bold;
			font-size: 0.5rem;
			border-right: 0.1rem solid var(--main);
			max-width: 2rem;
			display: grid;
			place-items: center;
		}
	}
}

#export-btn {
	margin-top: 1rem;
	background-color: var(--accent);
	color: #fff;
	font-family: inherit;
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
	border: 0.1rem solid var(--main);
	cursor: pointer;

	&:hover {
		background-color: var(--accent-lighter);
	}
}

#output > canvas {
	margin-top: 1rem;
}

.events {
	position: relative;
	overflow: hidden;

	> div {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		background-color: var(--accent-light);
		font-size: 0.4rem;
		padding: 0.25rem;
		border-left: 0.075rem solid var(--main);
		border-right: 0.075rem solid var(--main);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 0 0.25rem;
	}
}

input[type="text"],
input[type="color"],
input[type="time"],
input[type="number"],
input[type="button"],
select {
	font-family: inherit;
	font-size: 1rem;
	border: 0.1rem solid var(--main);
	padding: 0 0.5rem;
	height: 3rem;
	background-color: #fff;
	color: var(--main);
	border-radius: 0px;

	appearance: none;
	-webkit-appearance: none;

	&:focus {
		background-color: var(--accent-lightest);
		outline: 0.1rem solid var(--accent-lighter);
		outline-offset: 0.1rem;
	}

	&:hover {
		background-color: var(--accent-lightest);
	}
}

input[type="button"],
input[type="color"],
input[type="time"],
select {
	cursor: pointer;
}

.event-manager-wrapper {
	// .select-wrapper::after {
	// 	content: "▼";
	// 	width: 100%;
	// 	height: 4rem;
	// 	outline: 2px solid lime;
	// 	background-color: red;
	// 	z-index: 255;
	// }

	input,
	select {
		width: 100%;
	}

	div.card {
		background-color: var(--accent-2-light);
		border: 0.1rem solid var(--main);
		padding: 0.5rem;
		display: grid;
		gap: 0.5rem;
		h4 {
			grid-area: e-heading;
		}
	}

	input[type="text"] {
		&::placeholder {
			color: inherit;
			opacity: 0.5;
		}
	}

	input[type="color"] {
		padding: 0.25rem;
		width: 100%;
	}

	.event-name {
		grid-area: e-name;
	}

	.event-note {
		grid-area: e-note;
	}

	.event-color {
		grid-area: e-color;
		min-width: 3rem;
	}

	.event-start {
		grid-area: e-start;
	}

	.event-end {
		grid-area: e-end;
	}

	.event-day {
		grid-area: e-day;
	}

	.delete-event {
		grid-area: e-delete;
	}

	.delete-event,
	#clear-events {
		background-color: var(--accent-lighter);
		&:hover {
			background-color: var(--accent);
		}
	}

	.duplicate-event {
		grid-area: e-duplicate;
	}

	#event-manager {
		display: grid;
		gap: 0.5rem;

		div.card {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading"
				"e-name e-name e-name e-name e-name e-name e-note e-note e-note e-note e-note e-note"
				"e-start e-start e-start e-end e-end e-end e-day e-day e-day e-day e-color e-color"
				"e-duplicate e-duplicate e-duplicate e-duplicate e-duplicate e-duplicate e-delete e-delete e-delete e-delete e-delete e-delete";
		}

		@media (max-width: 750px) {
			div.card {
				grid-template-areas:
					"e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading e-heading"
					"e-name e-name e-name e-name e-name e-name e-name e-name e-name e-name e-name e-name"
					"e-note e-note e-note e-note e-note e-note e-note e-note e-note e-note e-note e-note"
					"e-start e-start e-start e-start e-start e-start e-end e-end e-end e-end e-end e-end"
					"e-day e-day e-day e-day e-day e-day e-day e-day e-day e-color e-color e-color"
					"e-duplicate e-duplicate e-duplicate e-duplicate e-duplicate e-duplicate e-delete e-delete e-delete e-delete e-delete e-delete";
			}
		}
	}

	.event-manager-buttons {
		margin-top: 0.5rem;
		grid-template-columns: 1fr 1fr;
	}
}
